.proContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vh;
    width: 80%;
    height: 30%;
    border: 2px;
    border-radius: 0.2vw;
    z-index: 1000; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-top: 2vh;
}

.proFirstLine{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 100%;
}

.proTitle{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}



.proDates{
    display: flex;
    align-items: center;
    justify-content: right;
}

.proDesc{
    width: 100%;
}

.dates{
    text-align: right;
}

.proTitleText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5vw;
}

.projectLinkNight{
    color: #ecedeb;
}

.projectLinkDay{
    color: #415A77;
}