.skills{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 17vw;
    height: 15vw;
    border: 2px;
    border-radius: 0.2vw;
    z-index: 1000; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-left: 3vw;
    padding: 0.5vh;
}

.skillTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
    text-align: left;
    line-height: 0.5vh;
    margin-left: 0;
}